target
.project
*.classpath
recuperatorio_dominio/src/main/generated-sources/
recuperatorio_dominio/src/main/generated-sources/**
recuperatorio_arena/src/main/generated-sources/
recuperatorio_arena/src/main/generated-sources/**
/src/test/generated-sources/
/src/test/generated-sources/**
.settings
xtend-gen
xtend-gen/**
*.xtendbin
